body {
  padding: 0;
  margin: 0;
}
body, #entry {
  background: #22252a;
  color: #eeeeee;
}
body, table {
  font-family: Verdana, DejaVu Sans Mono, fixed;
  font-size: 14pt;
  line-height: 150%;
}
tr, td, table {
  padding: 0;
  margin: 0;
  outline-width: 0;
  border-width: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
  color: #888888;
}
a:hover {
  text-decoration: underline;
  color: #aaaaaa;
}
#loading, #connect {
  background: #22252a;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  padding: 1em;
}
#loading { z-index: 10000000; }
#connect { z-index: 10000001; }
#loading p {
  font-family: Verdana, DejaVu Sans Mono, fixed;
  width: 30em;
  border: 0;
}
#connect fieldset {
  font-family: Verdana, DejaVu Sans Mono, fixed;
  width: 30em;
  border: 0;
}
#toolbar {
  position: fixed;
  color: #ffffff;
  width: 100%;
  bottom: 0;
  height: 99px;
}
#entry {
  width: 100%;
  font-size: inherit;
  padding: 1em;
  margin: 0;
  border-width: 0;
  outline-width: 0;
  clear: both;
}
#entry-btn { display: none; }
#log {
  display: block;
  height: 100px;
  background: inherit;
  overflow: auto;
}
.notice td { color: #555555; }
.join td { color: #555555; }
.part td { color: #555555; }
.message .date { color: #555555; }
.error td { color: #993333; }
.personal .nick { color: #ccdd55; }
.notice .nick { color: #ccdd55; }
.message {
  margin: 0.1em 0;
  margin-left: 10px;
}
.message td { vertical-align: top; }
.nick {
  font-weight: bold;
  padding: 0 1em 0 0.5em;
  padding-left: 15px;
}
.nick a { color: inherit; }
#toolbar #status {
  display: block;
  width: 100%;
  height: 30px;
  background: #773333;
  margin: 0;
  padding: 0;
  list-style: none;
}
#toolbar #status li {
  display: block;
  float: left;
  margin: 0 2em 0 0;
  height: 20px;
  margin-top: 4px;
  line-height: 100%;
}
#toolbar #status #currentTime {
  margin-left: 10px;
  margin-right: 15px;
}
#usersLink { color: inherit; }
