html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before {
  content: '';
  content: none;
}
blockquote:after {
  content: '';
  content: none;
}
q:before {
  content: '';
  content: none;
}
q:after {
  content: '';
  content: none;
}
:focus { outline: 0; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  color: #eeeeee;
  background: #22252a;
  font-family: Arial, Verdana, DejaVu Sans Mono, fixed;
  font-size: 14px;
  line-height: 20px;
}
a {
  text-decoration: none;
  color: #888888;
}
a:hover {
  text-decoration: underline;
  color: #aaaaaa;
}
#connect {
  background: #22252a;
  position: fixed;
  top: 50px;
  left: 100px;
  height: 100%;
  padding: 1em;
  z-index: 10000001;
}
#connect h1 {
  font-size: 28px;
  padding: 16px 0;
  color: #aaaaaa;
}
#connect p {
  color: #aaaaaa;
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 20px;
}
#connect #nickInput {
  font-size: 18px;
  padding: 3px;
}
#connect #connectButton {
  height: 35px;
  font-size: 18px;
  width: 100px;
}
#connect p.footnote {
  margin-top: 10px;
  font-size: 12px;
  color: #aaaaaa;
  font-style: italic;
}
#connect div.disclaimer {
  line-height: 18px;
  font-size: 14px;
  color: #666666;
  margin-top: 20px;
  width: 400px;
}
#connect div.disclaimer h4 {
  font-size: 18px;
  padding: 10px 0;
}
#connect div.disclaimer p { color: #666666; }
#connect div.disclaimer ul {
  font-size: 12px;
  padding-left: 25px;
  margin-bottom: 8px;
}
#connect div.disclaimer ul li {
  padding-left: 5px;
  list-style: square;
}
#loading {
  background: #22252a;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  padding: 1em;
  z-index: 10000000;
}
#loading p {
  width: 30em;
  border: 0;
}
#connect fieldset {
  width: 30em;
  border: 0;
}
#logwrap {
  display: block;
  height: 100px;
  overflow: auto;
}
#logwrap #log table {
  font-size: 14px;
  line-height: 20px;
  border-collapse: collapse;
  border-spacing: 0;
  outline-width: 0;
  border-width: 0;
}
#logwrap #log table tr {
  outline-width: 0;
  border-width: 0;
}
#logwrap #log table td {
  outline-width: 0;
  border-width: 0;
}
#logwrap #log table td.hide { opacity: 0; }
#logwrap #log .message {
  margin: 0.1em 0;
  margin-left: 10px;
}
#logwrap #log .message td { vertical-align: top; }
#logwrap #log .notice td { color: #555555; }
#logwrap #log .join td { color: #555555; }
#logwrap #log .part td { color: #555555; }
#logwrap #log .message .date { color: #555555; }
#logwrap #log .error td { color: #993333; }
#logwrap #log .personal .nick { color: #ccdd55; }
#logwrap #log .notice .nick { color: #ccdd55; }
#logwrap #log .nick {
  font-weight: bold;
  padding: 0 1em 0 0.5em;
  padding-left: 15px;
}
#logwrap #log .nick a { color: inherit; }
#toolbar {
  position: fixed;
  color: #ffffff;
  width: 100%;
  bottom: 0;
  height: 99px;
  height: 71px;
}
#toolbar #entry {
  background: #22252a;
  color: #eeeeee;
  width: 90%;
  padding: 15px;
  font-size: inherit;
  border-width: 0;
  outline-width: 0;
  clear: both;
}
#toolbar #entry-btn { display: none; }
#toolbar #status {
  display: block;
  width: 100%;
  height: 22px;
  background: #773333;
  margin: 0;
  padding: 0;
  list-style: none;
}
#toolbar #status li {
  display: block;
  float: left;
  margin: 0 2em 0 0;
  margin-top: 4px;
  line-height: 100%;
}
#toolbar #status #currentTime {
  margin-left: 10px;
  margin-right: 15px;
}
#toolbar #status #usersLink { color: inherit; }
